<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col"> 
        <div class="card h-100">
             <img [src]="product.thumbnail" class="card-img-top">  
            <div class="card-body">
               <h5 class="card-title">{{product.title}}</h5>
              <p class="card-text"> Category: {{product.category}}</p>
              <p class="card-text"> Description : {{product.description}}</p>
              <p class="card-text"> DiscountPercentage : {{product.discountPercentage}}</p>
              <p class="card-text"> Rating : {{product.rating}}</p>
              <p class="card-text"> Brand : {{product.brand}}</p> 
            </div>
            <button class="btn  btn-success" >Add TO Cart</button> 
          </div>
    </div>
  </div>
